@import "variable.scss";

html{
    font-size: $font-size-html;
}
body, html{
    height: 100%; 
    line-height: 1;
    font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    background: $color-bg;
    color: $color-text;
}
body{
    font-size: $font-size-medium;
    //  iphonex样式适配
    padding-top: constant(safe-area-inset-top);   //为导航栏+状态栏的高度 88px            
    padding-left: constant(safe-area-inset-left);   //如果未竖屏时为0                
    padding-right: constant(safe-area-inset-right); //如果未竖屏时为0                
    padding-bottom: constant(safe-area-inset-bottom);//为底下圆弧的高度 34px
}
//  iphonex样式适配
@media only screen and (width: 375px) and (min-height: 690px){
    body {
       height: 100vh;
    }
}

body.modal-open {
    position: fixed;
    width: 100%;
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5){
    .border-bottom-1px{
        &::after{
            -webkit-transform: scaleY(0.7);
            transform: scaleY(0.7);
        }
    }
    .border-top-1px{
        &::before{
            -webkit-transform: scaleY(0.7);
            transform: scaleY(0.7);
        }
    }
    .borderp-left-1px{
        &::after{
            -webkit-transform: scaleX(0.7);
            transform: scaleX(0.7);
        }
    }
    .border-right-1px{
        &::before{
            -webkit-transform: scaleX(0.7);
            transform: scaleX(0.7);
        }
    }
    .border-1px{
        &::before{
            -webkit-transform: scaleX(0.7);
            transform: scaleX(0.7);
        }
    }
}

@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2){
    .border-bottom-1px{
        &::after{
            -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
        }
    }
    .border-top-1px{
        &::before{
            -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
        }
    }
    .borderp-left-1px{
        &::after{
            -webkit-transform: scaleX(0.5);
            transform: scaleX(0.5);
        }
    }
    .border-right-1px{
        &::before{
            -webkit-transform: scaleX(0.5);
            transform: scaleX(0.5);
        }
    }
    .border-1px{
        &::before{
            -webkit-transform: scaleX(0.7);
            transform: scaleX(0.7);
        }
    }
    
}


.hide{
    display: none !important;
}
.show{
    display: block !important;
}
button:disabled{
    background:$color-btn-gray !important;
    color: $color-text !important;
}

// 隐藏极验标语
.geetest_copyright{
    display: none !important;
}
.geetest_feedback{
    display: none !important;
}
.geetest_panel_footer{
    display: none !important;
}
//flex
.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.flex-v {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.flex-1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.flex-2 {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
}
.flex-3 {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
}
.flex-4 {
    -webkit-box-flex: 4;
    -webkit-flex: 4;
    -ms-flex: 4;
    flex: 4;
}
.flex-5 {
    -webkit-box-flex: 5;
    -webkit-flex: 5;
    -ms-flex: 5;
    flex: 5;
}
.flex-6 {
    -webkit-box-flex: 6;
    -webkit-flex: 6;
    -ms-flex: 6;
    flex: 6;
}
.flex-align-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.flex-align-start {
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}
.flex-pack-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.flex-pack-justify {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.flex-center{
    align-items: center;
    justify-content: center;
}



