@import "variable.scss";

html{
    font-size: $font-size-html;
}
body, html{
    height: 100%; 
    line-height: 1;
    font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    background: $color-bg;
    color: $color-text;
}
body{
    font-size: $font-size-medium;
}

@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5){
    .border-bottom-1px{
        &::after{
            -webkit-transform: scaleY(0.7);
            transform: scaleY(0.7);
        }
    }
    .border-top-1px{
        &::before{
            -webkit-transform: scaleY(0.7);
            transform: scaleY(0.7);
        }
    }
    .borderp-left-1px{
        &::after{
            -webkit-transform: scaleX(0.7);
            transform: scaleX(0.7);
        }
    }
    .border-right-1px{
        &::before{
            -webkit-transform: scaleX(0.7);
            transform: scaleX(0.7);
        }
    }
    
    
    
    
}

@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2){
    .border-bottom-1px{
        &::after{
            -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
        }
    }
    .border-top-1px{
        &::before{
            -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
        }
    }
    .borderp-left-1px{
        &::after{
            -webkit-transform: scaleX(0.5);
            transform: scaleX(0.5);
        }
    }
    .border-right-1px{
        &::before{
            -webkit-transform: scaleX(0.5);
            transform: scaleX(0.5);
        }
    }
    
}


.hide{
    display: none !important;
}
.show{
    display: block !important;
}
button:disabled{
    background:$color-btn-gray !important;
    color: $color-text !important;
}

// 隐藏极验标语
.geetest_copyright{
    display: none !important;
}
.geetest_feedback{
    display: none !important;
}
