@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?clr35z');
    src:  url('../fonts/icomoon.eot?clr35z#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?clr35z') format('truetype'),
      url('../fonts/icomoon.woff?clr35z') format('woff'),
      url('../fonts/icomoon.svg?clr35z#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e900";
}
.icon-add-circle:before {
  content: "\e901";
}
.icon-arrows-below:before {
  content: "\e902";
}
.icon-arrows-below-wire:before {
  content: "\e903";
}
.icon-arrows-left:before {
  content: "\e904";
}
.icon-arrows-right:before {
  content: "\e905";
}
.icon-arrows-up:before {
  content: "\e906";
}
.icon-arrows-up-wire:before {
  content: "\e907";
}
.icon-bell:before {
  content: "\e908";
}
.icon-circle:before {
  content: "\e909";
}
.icon-clock-01:before {
  content: "\e90a";
}
.icon-clock-02:before {
  content: "\e90b";
}
.icon-clock-03:before {
  content: "\e90c";
}
.icon-close:before {
  content: "\e90d";
}
.icon-close-circle:before {
  content: "\e90e";
}
.icon-delete:before {
  content: "\e90f";
}
.icon-diamond:before {
  content: "\e910";
}
.icon-envelope:before {
  content: "\e911";
}
.icon-envelope-open:before {
  content: "\e912";
}
.icon-lock:before {
  content: "\e913";
}
.icon-message .path1:before {
  content: "\e914";
}
.icon-message .path2:before {
  content: "\e915";
  margin-left: -1em;
}
.icon-minus:before {
  content: "\e916";
}
.icon-money:before {
  content: "\e917";
}
.icon-question-circle:before {
  content: "\e918";
}
.icon-refresh:before {
  content: "\e919";
}
.icon-right:before {
  content: "\e91a";
}
.icon-right-ak:before {
  content: "\e91b";
}
.icon-right-circle:before {
  content: "\e91c";
}
.icon-right-quadrangle:before {
  content: "\e91d";
}
.icon-search:before {
  content: "\e91e";
}
.icon-triangle-below:before {
  content: "\e91f";
}
