// 颜色定义规范
$color-bg : #FFF;
$color-bg-shade-a3 : rgba(0, 0, 0, 0.3);
$color-bg-shade-a5 : rgba(0, 0, 0, 0.5);
$color-bg-shade-a8 : rgba(0, 0, 0, 0.8);
$color-bg-theme : #DA1C36;
$color-bg-gray:#f4f4f4;
$color-bg-nav:#171718;
$color-bg-white-a0 : rgba(255, 255, 255, 0.0);
$color-bg-white-a3 : rgba(255, 255, 255, 0.3);
$color-bg-white-a5 : rgba(255, 255, 255, 0.5);
$color-bg-white-a8 : rgba(255, 255, 255, 0.8);
$color-text :#333;
$color-text-gray:#999;
$color-text-red:#DA1C36;
$color-text-blur:rgb(4, 132, 218);
$color-text-yellow:#FFDF1B;
$color-text-green:#08D700;
$color-border-gray:#cccccc;
$color-border-red:#DA1C36;

//字体定义规范
$font-size-html:10vw;
$font-size-small : 0.27rem;
$font-size-small-x : 0.32rem;
$font-size-medium : 0.37rem;
$font-size-medium-x : 0.43rem;
$font-size-large : 0.48rem;
$font-size-large-m : 0.52rem;
$font-size-large-x : 0.58rem;
$font-size-large-xx : 0.64rem;