// 颜色定义规范
$color-background : #FFF;
$color-background-d : rgba(0, 0, 0, 0.3);
$color-background-gray:#f4f4f4;
$color-theme-background : #DA1C36;
$color-dialog-background : #FFF;
$color-theme : #333;
$color-theme-d : rgba(255, 205, 49, 0.5);
$color-sub-theme : #d93f30;
$color-header:#fff;
$color-text : #333;
$color-text-gray:#999;
$color-text-d : rgba(255, 255, 255, 0.3);
$color-text-l : rgba(255, 255, 255, 0.5);
$color-text-ll : rgba(255, 255, 255, 0.8);
$color-nav-background:#171718;
$color-border:#f4f4f4;

//字体定义规范
$font-size-html:10vw;
$font-size-small-s : 0.27rem;
$font-size-small : 0.32rem;
$font-size-medium : 0.37rem;
$font-size-medium-x : 0.43rem;
$font-size-large : 0.48rem;
$font-size-large-x : 0.64rem;