/*reset*/
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {margin: 0; padding: 0; font: inherit; font-size: 100% }
a, a img, audio, body, canvas, fieldset, figcaption, figure, html, img, video {border: 0 }
h1 {margin: 0; padding: 0 }
html {-ms-touch-action: pan-y; touch-action: pan-y; font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100% }
body, html { height: 100% }
body {font-family: Microsoft Yahei, -apple-system, Helvetica Neue, Roboto, Segoe UI, sans-serif; -webkit-touch-callout: none; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; text-size-adjust: none; -webkit-tap-highlight-color: transparent; background: #ececec; color: #343434 }
*, :after, :before {box-sizing: border-box }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {font-family: Microsoft Yahei; color: #343434 }
b, strong {font-weight: 700 }
img {pointer-events: none; vertical-align: top; }
div {display: block }
ol, ul {list-style: none }
a {text-decoration: none; -webkit-user-drag: none; -webkit-tap-highlight-color: transparent; color: #387ef5 }
:active, :focus, a, a:active, a:focus, a:hover, button, button:focus {outline: 0 }
a, img {-webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none }
button, input, select, textarea {margin: 0; font-size: 100%; font-family: inherit; outline-offset: 0; outline-style: none; outline-width: 0; -webkit-font-smoothing: inherit; background-image: none }
button, input {line-height: normal; outline: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
button, select {text-transform: none }
button, html input[type=button], input[type=reset], input[type=submit] {cursor: pointer; -webkit-appearance: button }
input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], textarea {display: block; padding-top: 2px; padding-left: 0; height: 34px; color: #111; vertical-align: middle; border: 0 }
input::-moz-placeholder, textarea::-moz-placeholder {color: #aaa; font-size: 14px }
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color: #aaa; font-size: 14px }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #aaa; font-size: 14px }
button, input, select, textarea {font-family: -apple-system, Helvetica Neue, Roboto, Segoe UI, sans-serif }
html{ font-size: 100px; line-height: 1.5;}
body{ font-size: .14rem; }

@media screen and (min-width: 700px){
::-webkit-scrollbar {width: 14px; height: 14px; }
::-webkit-scrollbar-track,  
::-webkit-scrollbar-thumb {border-radius: 999px; border: 5px solid transparent; }
::-webkit-scrollbar-track {box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset; }
::-webkit-scrollbar-thumb {min-height: 20px; background-clip: content-box; box-shadow: 0 0 0 5px rgba(0,0,0,.2) inset; }
::-webkit-scrollbar-corner {background: transparent; }
}

.flex{display: -moz-box!important; display: -webkit-box!important; display: box!important; display: -moz-flex!important; display: -ms-flex!important; display: -ms-flexbox!important; display: flex!important;}
.flex-item{box-flex: 1; -ms-flex: 1!important; flex: 1!important; -webkit-flex: 1!important;}

/*common*/
.container{ width: 1000px; margin: 0 auto; }
.container:after,
.clearfix:after{ content: ""; display: block; clear: both; }
.hide{ display: none; }
.tc{ text-align: center; }
.bg-green{ background: #299251; }
.bg-dark-green{ background: #186d39; }
.bg-yellow{ background: #eee10b; }
.bg-blue{ background: #1b74d9; }
.green{ color: #299251; }
.yellow{ color: #eee10b; }
.blue{ color: #1b74d9; }
.red{ color: #f1621b; }
.grey{ color: #aaa; }
.btn{ font-size: .24rem; line-height: .57rem; padding: 0 .3rem; display: inline-block; font-weight: 700; cursor: pointer; transition: all .2s; border-radius: .03rem;}
.btn:hover{ opacity: .9; }
.btn-blue{ background: #1b74d9; color: #eee10b; }
.flag{ width: .6rem; height: .4rem; display: inline-block; }
.flag-o{ width: .4rem; height: .4rem; display: inline-block; }


.flow-table{ width: 100%; font-size: .18rem; border: 0 none; border-spacing: 0; border-collapse: collapse;}
.flow-table td,
.flow-table th{ padding: .15rem 0; border-bottom: 1px solid #299251;}
.flow-table .td-1{ width: 20%; padding-left: .2rem;}
.flow-table .td-2{ width: 40%; }
.flow-table .td-3{ width: 10%; text-align: center;}
.flow-table .td-4{ width: 30%; padding-left: .5rem;}
.flow-vs-wrap span,
.flow-vs-wrap i{ vertical-align: middle; display: inline-block;}
.flow-vs-wrap .flag{ margin: 0 .1rem; }
.flow-vs-wrap .vs-1{ width: 1rem; word-break: break-all; text-align: right;}
.flow-radio-wrap label span{ display: inline-block; width: .5rem; height: .4rem; line-height: .4rem; background: #fff; margin: 0 .04rem; text-align: center; color: #f1621b; font-weight: 700; cursor: pointer; transition: all .2s;}
.flow-radio-wrap input:checked + span{ background: #1b74d9; color: #fff; }
.flow-radio-wrap input:disabled + span{ cursor: no-drop; background: #efefef; }
.flow-radio-wrap label{ position: relative; }
.flow-radio-wrap label input{ position: absolute; opacity: 0; }
.ball-title{ height: .85rem; padding-left: 1rem; line-height: .85rem; background: url(../images/ball.png) no-repeat left center; font-size: .36rem; color: #fff; font-weight: 700; margin-bottom: .1rem; background-size: contain;}
.ball-title2{ height: .44rem; padding-left: .54rem; line-height: .44rem; background: url(../images/ball3.png) no-repeat left center; font-size: .24rem; margin-bottom: 0; font-weight: 700; color: #fff; background-size: contain;}

.header{ height: 1rem; background: #315615 url(../images/topbg.png) repeat-x; line-height: 1rem; text-align: center; position: fixed; left: 0; right: 0; z-index: 200; top: 0; box-shadow: 0 3px 10px rgba(0,0,0,.1)}
.header .nav .nav-item{ display: inline-block; margin: 0 -0.08rem; width: 1.7rem; border-left: .02rem solid #25400f;}
.header .nav .nav-item:nth-child(3),
.header .nav .nav-item:nth-child(4){ border-left: 0 none; }
.header .nav .nav-item:nth-child(3){ width: 2.7rem; margin-left: -.2rem; z-index: 3; position: relative; }
.header .nav .nav-item:nth-child(5){ border-right: .02rem solid #25400f; }
.header .nav .nav-item img{ width: 110%; }
.header .nav .nav-item a{ color: #fff; transition: all .2s; font-size: .3rem; display: block; font-weight: 700;}
.header .nav .nav-item a:hover{ color: #eee10b;  }
.header-blank{ height: 1rem; }


/*index*/
.page-index{min-height:100%; background: url(../images/index_main.jpg) center top;background-size:100%;}
.page-index .banner{ width: 100%; overflow: hidden; }
.page-index .banner .container{ position: relative; }
.page-index .banner .img-wrap{ width: 1920px; margin-left: -460px; }
/* .page-index .index-main{ background: url(../images/index_main.jpg)center top;background-size:100%; } */
.page-index .f1 .f-btn{ width: 3.92rem; height: 2.17rem; display: block; background: url(../images/my.png) no-repeat; background-size: contain; position: relative; top: -1.9rem; left: 1rem; transition: all .2s;}
.page-index .f1 .f-btn span{ position: absolute; font-size: .3rem; color: #eee10b; font-weight: 700; left: 1rem; top: 1.2rem; transform: rotate(-27deg); }
.page-index .f1 .f-btn:hover{ transform: rotate(4deg); }
.page-index .bet-channel{ overflow: hidden; margin-top: -1rem; margin-bottom: .2rem}
.page-index .bet-channel a{ width: 1.74rem; height: 1.4rem; background: url(../images/channel.png) no-repeat; background-size: contain; line-height: 1.4rem; text-align: center; font-size: .28rem; color: #299251; font-weight: 700; float: left; transition: all .2s;}
.page-index .bet-channel a:hover{ opacity: .9;}
.page-index .bet-channel .ch-2,
.page-index .bet-channel .ch-4,
.page-index .bet-channel .ch-6{ margin: 0.72rem -0.37rem 0; }
.page-index .f2{ margin-bottom: .6rem; }
.page-index .slide-flow{ background: #eee10b; border-left: 3px solid #186d39;  border-top: 3px solid #186d39;}
.page-index .slide-flow .hd li{ float: left; width: 16.66666%; background: #299251; color: #eee10b; font-size: .17rem; font-weight: 700; text-align: center; height: .55rem; line-height: .55rem; border-right: 3px solid #186d39; border-bottom: 3px solid #186d39; cursor: pointer;}
.page-index .slide-flow .hd li.on{ background: transparent; border-bottom-color: #eee10b; color: #299251; }
.page-index .slide-flow .bd{ border-right: 3px solid #186d39; border-bottom: 3px solid #186d39; }
.page-index .slide-xiaozu .xiaozu-hd{ margin: 2px; }
.page-index .slide-xiaozu .xiaozu-hd span{ float: left; cursor: pointer; font-size: .2rem; text-align: center; width: 12.5%; line-height: .5rem;}
.page-index .slide-xiaozu .xiaozu-hd span.on{ color: #eee10b; background: rgba(0,0,0,.5); }
.page-index .scroll-wrap{ overflow-x: hidden; }
.page-index .f2 .scroll-wrap{ /*height: 3.6rem;*/ }
.page-index .btn-wrap{ text-align: center; padding: .5rem 0 .3rem; }
.page-index .btn-wrap .btn-blue{ position: relative; }
.page-index .btn-wrap .btn-blue i{ position: absolute; width: .84rem; height: .8rem; background: url(../images/ball2.png) no-repeat; background-size: contain; left: -.5rem; top: -.4rem;}
.page-index .f3{ margin-bottom: .6rem; }
.page-index .slide-guess { background: #eee10b; margin-top: .5rem;}
.page-index .slide-guess .hd{ position: relative; top: -.32rem; }
.page-index .slide-guess .hd ul{ margin: 0 -1rem 0 .1rem; }
.page-index .slide-guess .hd li{ width: 2.2rem; height: 1.19rem; background: #299251; color: #fff; font-size: .16rem; padding: .1rem .2rem; float: left; margin: 0 .1rem; position: relative; cursor: pointer;}
.page-index .slide-guess .hd li h3{ color: #eee10b; font-size: .24rem; font-weight: 700; margin-bottom: .1rem;}
.page-index .slide-guess .hd li:after{ width: 0; height: 0; content: ""; border-width: 0 .13rem .32rem 0; border-color: transparent transparent #186d39 transparent; border-style: solid; position: absolute; right: -.13rem; top: 0;}
.page-index .slide-guess .hd li.on{ background: #186d39; }
.page-index .slide-guess .bd{ margin: 0 .2rem; }
.page-index .slide-guess .guess-result{ background: #fff; height: 2rem; text-align: center; padding-top: .8rem;}
.page-index .slide-guess .guess-result span{ display: inline-block; background: #2a9250; color: #fff; width: 0.9rem; height: .4rem; line-height: .4rem; margin: 0 0.05rem .1rem; text-align: center; box-shadow: .02rem .02rem 0 #186d39;}
.page-index .slide-guess .guess-table{ overflow: hidden; font-size: .14rem; width: 100%;}
.page-index .slide-guess .guess-table dl{ float: left; width: 12.5%;}
.page-index .slide-guess .guess-table dt{ font-weight: 700; color: #fff; background: #299251; text-align: center; padding: .12rem 0;}
.page-index .slide-guess .guess-table dl:nth-child(2n) dt{ background: #186d39; }
.page-index .slide-guess .guess-table dd{ background: #fff; cursor: pointer; padding: .1rem .02rem .1rem .05rem; border-bottom: 1px solid #299251;}
.page-index .slide-guess .guess-table dd.active{ background: #c5ead3!important; }
.page-index .slide-guess .guess-table dd:last-child{ border-bottom: 0 none; }
.page-index .slide-guess .guess-table dl:nth-child(2n) dd:nth-child(2n),
.page-index .slide-guess .guess-table dl:nth-child(2n-1) dd:nth-child(2n-1){ background: #ece2e4; }
.page-index .slide-guess .guess-table dd .flag-o{ float: left; }
.page-index .slide-guess .guess-table dd .in{ margin-left: .44rem; }
.page-index .slide-guess .guess-table dd .in p{ overflow: hidden; word-break: break-all; height: 1.5em; }
.page-index .slide-guess .btn-wrap .btn{ padding: 0 .6rem; margin: 0 .2rem; }
.page-index .f4{ margin-bottom: .6rem; }
.page-index .index-rules{ background: #009548; color: #fff; font-size: .16rem; padding: .4rem; position: relative;}
.page-index .index-rules section{ margin-bottom: .2rem; }
.page-index .index-rules p{ margin: .1rem 0; padding-left: 2em; }
.page-index .index-rules:before{ content: ""; width: 1.24rem; height: .88rem; background: url(../images/foo.png) no-repeat; background-size: contain; position: absolute; right: -.5rem; top: 1rem; }
.footer{ font-size: .28rem; color: #eee10b; background: #113f00; text-align: center; padding: .2rem 0; }

.page-info{ background: url(../images/index_main.jpg) center top; color: #fff; padding-top: .6rem;}
.page-info .container{ width: 900px; }
.page-info .info-logo{ text-align: center; }
.page-info .info-main{ padding-bottom: .2rem; }
.page-info .info-section{ margin: .4rem 0; }
.page-info .info-wrap{ padding-left: .54rem; font-size: .16rem; line-height: 1.8;}
.page-info .info-wrap b{ font-size: .18rem; }
.page-info .info-table{ border-collapse: collapse; text-align: center; width: 100%; margin: .1rem 0 .2rem; font-weight: 700;}
.page-info .info-table td,
.page-info .info-table th{ border: 1px solid #299251; padding: .06rem 0;}
.page-info .info-table th{ background: #186d39; }
.page-info .info-table td{ background: #3a6019; }
.page-info .btn-wrap{ text-align: center; padding-bottom: 1rem;}
.page-info .btn-wrap .btn{ margin: 0 .1rem; border: .02rem solid #eee10b;}
/*游戏规则页面样式*/
.page-info .rule-table {border-collapse: collapse;text-align: center;margin: .1rem 0 .2rem;width: 100%;}
.page-info .rule-table td,
.page-info .rule-table th{ border: 1px solid #299251; padding: .06rem .05rem;}
.page-info .rule-table th{ background: #186d39; color:#fff;}
.page-info .rule-table td{ background: #3a6019; color:yellow; font-weight: 600;}
.page-info .rule-logo{ text-align: center; }

.bet-form{ padding: .4rem; background: url(../images/layerbg2.jpg) no-repeat; }
.form-title{ font-size: .3rem; color: #eee10b; font-weight: 700; text-align: center; }
.form-row{ overflow: hidden; font-size: .18rem; color: #fff; margin: .2rem 0;}
.form-label{ width: 2rem; float: left; text-align: right; line-height: .4rem;}
.form-con{ margin-left: .8rem; }
.input-text[type=text]{ width: 3rem; background: #fff; border: 0 none; -webkit-appearance: none; appearance: none; padding: 0 .1rem; height: .4rem; border-radius: .05rem;}
.input-submit{ width: 2rem; height: .5rem; background: #1b74d9; color: #eee10b; font-size: .20rem; font-weight: 700; -webkit-appearance: none; appearance: none; border: .02rem #eee10b solid;}
.verify-con .input-text[type=text]{ width: 1.4rem; margin-right: .2rem; float: left;}
.verify-img{ width: 1.4rem; height: .4rem; border-radius: .05rem; background: #fff; float: left; }


.layui-layer{ border: .03rem solid #299251; }
.layui-layer-title{ background: #299251; height: .56rem; line-height: .56rem; font-size: .20rem; font-weight: 700; border-bottom: 0 none;}
.layui-layer-tab .layui-layer-title span{ padding: 0 .35rem; color: #eee10b;}
.layui-layer-tab .layui-layer-title span.layui-this{ height: .56rem; color: #4bb172; background: url(../images/layerbg.jpg) no-repeat; border: 0 none;}
.layui-layer-setwin a{ width: .26rem; height: .26rem; position: relative;}
.layui-layer-setwin a:before,
.layui-layer-setwin a:after{ content: ""; position: absolute; width: .26rem; height: .04rem; border-radius: .02rem; background: #fff; top: .11rem; }
.layui-layer-setwin a:before{ transform: rotate(45deg); }
.layui-layer-setwin a:after{ transform: rotate(-45deg); }
.layui-layer-content{ clear: both; background: url(../images/layerbg2.jpg) no-repeat; background-size: cover;}
.layui-layer-content .flow-table{ color: #fff; }
.layui-layer-content .flow-table td,
.layui-layer-content .flow-table th{ border-bottom: 1px solid #164001; }
.layui-layer-tab .scroll-wrap{ height: 4.35rem; }
.layui-layer-tab .layui-layer-content{ background-image: url(../images/layerbg.jpg); }
.layui-layer-setwin .layui-layer-close2{ right: -.11rem; top: -.09rem; width: .3rem; height: .3rem;}

.rule-wrapper{padding:0 2rem; max-width: 1100px; margin: 0 auto;}
.rule-wrapper a{display: block; height:auto;}
.rule-wrapper img{width:100%; margin-bottom: -1.24rem; margin-left:-2rem;}

.cup-wrapper{position: relative;height:auto;overflow: hidden;max-width:1200px;margin:0 auto;}
.cup-wrapper .cup-img{display: block;width:100%;}
.cup-wrapper .cup-btn{position: absolute; bottom:0; left:calc((100% - 2rem)/2);}
.cup-wrapper .cup-btn .button{
    display:block;
    height:.8rem;
    width:2rem;
    border:none;
    font-size: .24rem;
    line-height: .57rem;
    padding: 0 .3rem;
    display: inline-block; 
    font-weight: 700;
    cursor: pointer;
    transition: all .2s;
    border-radius: .03rem;
    background: url(../images/cup-btn.png) no-repeat;
    background-size: 100%;
}
.statement {padding:.4rem;background:rgba(0, 0, 0, .3);margin-top: 1rem;height: auto;overflow: hidden;}
.statement .statement-wrapper{max-width: 1000px;color:#fff;margin: 0 auto;text-align: center;}
.statement h2{font-size: .4rem;color:#fff;font-weight: bold;}

/*手机端样式*/
@media screen and (max-width: 700px){
	html{ font-size: 50px; }
	body{ overflow-x: hidden; }
	.container,
	.page-info .container{ width: 100%; padding: 0 .1rem; }

	.flow-table .flag{ display: none; }
	.flow-vs-wrap .vs-1{ width: auto; }
	.flow-table .td-2{ width: 26%; }
	.flow-radio-wrap label span{ margin: 0; }

	.header .nav .nav-item{ width: 1.2rem; }
	.header .nav .nav-item a{ font-size: .2rem; }
 	 .page-index{min-height:100%; background: url(../images/index_main.jpg) center top;background-size:100%;}
	.page-index .banner .container{ padding: 0; }
	.page-index .banner .img-wrap{ width: 100%; margin-left: 0;}
	.page-index .banner .img-wrap img{ width: 100%; }
	.page-index .bet-channel{ text-align: center; margin-top: -.5rem; }
	.page-index .bet-channel a{ width: 1.2rem; height: 1rem; line-height: 1rem; font-size: .2rem; float: none; display: inline-block; vertical-align: top; }

	.page-index .f1 .f-btn{ width: 3.02rem; height: 1.67rem; top: -1rem;}
	.page-index .f1 .f-btn span{ left: .6rem; top: .9rem; }
	.page-index .slide-flow .hd li{ height: 1.1rem; }

	.page-index .slide-guess .hd { text-align: center; }
	.page-index .slide-guess .hd ul{ margin: 0; }
	.page-index .slide-guess .hd li{ float: none; display: inline-block; margin: 0 .05rem; width: 1.78rem; height: 1.69rem; }

	.page-index .slide-guess .guess-table dl{ width: 25%; }
	.page-index .slide-guess .guess-result span{ width: auto; padding: 0 .04rem; margin-bottom: .04rem; }

	.page-index .index-rules:before{ display: none; }

	.page-info .info-logo{ margin-left: .2rem; margin-right: .2rem; }
	.page-info .info-logo img{ max-width: 100%; }
	.page-info .rule-logo{ margin-left: 1rem; margin-right: 1rem; }
	.page-info .rule-logo img{ max-width: 100%; }
	.page-info .info-wrap{ padding-right: .3rem; }

	.layui-layer-title{ height: .86rem; line-height: .86rem; }
	.layui-layer-tab .layui-layer-title span.layui-this{ height: .86rem; }

	.form-label{ line-height: .6rem; width: 30%;}
	.form-con{ margin-left: 32%; }
	.verify-img{ height: .6rem; }
	.input-text[type=text]{ height: .6rem; }
	
	.rule-wrapper{padding:0; }
    .rule-wrapper img{width:100%; margin-bottom: -1.24rem; margin-left:-2.2rem;}
    .cup-wrapper{margin-top:0.5rem;}
    .cup-wrapper .cup-btn{left:calc((100vw - 2.4rem)/2);}
    .cup-wrapper .cup-btn .button{height:1rem;width:2.4rem;}
    .statement {padding:.1rem;margin-top: 0.2rem; position:fixed;bottom:0;}
    .statement .statement-wrapper{font-size: 12px;}
    .statement h2{font-size: .3rem;}
}

@media screen and (max-width: 375px){
	.page-index .slide-guess .guess-result{ padding-top: .4rem; }
	.page-index .slide-guess .hd li{ margin: 0 .05rem; width: 1.58rem; height: 1.69rem; padding: .1rem .05rem;}
}

















